window {
	background-image: url("/usr/share/nwg-hello/nwg.jpg"); background-size: 100% 100%
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px
}

button:hover {
	background-color: rgba(255, 255, 255, 0.1)
}

#form-wrapper {
	background-color: rgba(0, 0, 0, 0.2)
}