window {
	background-image: url("/usr/share/nwg-hello/nwg.jpg"); background-size: 100% 100%
}

entry {
	border-radius: 12px;
	padding: 6px
}

button {
	border-radius: 12px;
	padding: 6px
}

button:hover {
	background-color: rgba(255, 255, 255, 0.1)
}

#form-wrapper {
	background-color: rgba(0, 0, 0, 0.2)
}

#welcome-label {
	font-size: 48px
}

#clock-label {
	font-size: 36px
}

#date-label {
	font-size: 18px
}

#form-combo {
	border-radius: 12px;
	padding: 2px
}

#password-entry {
	border-radius: 12px
}
